<!-- Start of Page 1 (Home) -->
<div data-full="true" id="Home" class="full-content page-content">
    <p id="service-text" data-name="Full Brazilian Blow-Outs!"></p>
</div>
<!-- End of Page 1 -->
<!-- Start of Page 2 (About) -->
<div data-full="true" id="AboutUs" class="page-content">
    <img src="/assets/images/RoseGoldAboutUs.png" alt="aboutus">
    <div class="container">
        <div class="row">
            <p>Marianne Rimawi, formerly of Moi Salon, and Christopher Rey of Christopher Rey Salon, have joined forces to create a new, dynamic space together at Blvd 6 Salon!
                We at Blvd 6 Salon want to make a positive and lasting impression while bringing you the highest quality in hair services, professional products, and individual attention.
                By demonstrating healthy hair habits and setting achievable hair goals with the most professional hair care products, clients are well equipped to maintain long-lasting, lustrous locks at home.
                In addition, we're very proud to be a Green Circle Salon, participating in the most environmentally friendly salon practices in the world.  After all, impressions matter and we at Blvd 6 Salon strive to leave a lasting footprint that's positively beautiful.</p>
            <!-- Example row of columns -->
        </div>
        <div class="row">
            <div class="col-md-6">
                <h2>Marianne Rimawi</h2>
                <img src="../assets/images/BLVD_6_MARIANNE-4.jpg" alt="Marianne Rimawi" class="profile-pic left">
                <p>Marianne has been a hairstylist for over 20 years and a salon owner for the last decade.  Her latest creation, opening Blvd 6 Salon with Christopher Rey, is the most exciting addition on a spectacular career journey.  She has appeared on TV as a hair stylist, featured in magazines, and also taught her peers on stage and in salon.</p>
                <p>Marianne is a loving mother to her 11 year old son and her two fur babies.  She loves to explore California and the surrounding countries.  If and when she has free time, you can find her working out, having a relaxing treatment at the spa, or reading a book.</p>
            </div>
            <div class="col-md-6">
                <h2>Christopher Rey</h2>
                <img src="../assets/images/BLVD_6_REY.jpg" alt="Christopher Rey" class="profile-pic left">
                <p>Christopher Rey has over 15 years experience in the hair industry.  He specializes in helping clients achieve their hair goals and teaches them how to maintain their hair at home.  Christopher Rey is certified in four different techniques and has 12 years of experience in utilizing extensions to cultivate versatile hairstyles for day-to-night looks.  As a trained colorist, he has advanced experience working with red, blonde, and brunette hues.</p>
                <p>Living outside of the Valley, as a West Hollywood resident, Rey has a passion for personal fitness and good food.  He enjoys being a part of adrenaline pumping activities and participates in marathons and triathalons.</p>
            </div>
        </div>
        <!-- <h2 id="additional-staff" class="text-center">
            Additional Staff
        </h2>
        <div class="row text-center">
            <div class="col-md-4">
                <h4>
                    <img class="profile-pic" src="" alt=""><br /> 
                </h4>
            </div>
            <div class="col-md-4">
                <h4>
                    <img class="profile-pic" src="../assets/images/BLVD_6_TRACI.jpg" alt="Traci"><br /> Traci
                </h4>
            </div>
        </div> -->
    </div>
</div>
<!-- End of Page 2 -->
<!-- Start of Page 3 (Services) 
<div data-full="true" id="Services" class="page-content">
    <img src="/assets/images/RoseGoldServices.png" alt="services">
    <div class="container table-responsive">
        <div class="row">    
            <table class="table table-striped table-hover">
                <tbody>
                    {{#each services}}
                    <tr>
                        <td style="vertical-align: middle;">
                            <h2>{{name}}</h2>
                        </td>
                        <td style="width: 20%; vertical-align: middle;">
                            <strong>Member Price:</strong> {{member_price}}<br />
                            <strong>Non-Member Price:</strong> {{nonmember_price}}
                        </td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>
</div>
End of Page 3 -->
<!-- Start of Page 4 (Products) -->
<div data-full="true" id="Products" class="container page-content"><br />
    <img src="/assets/images/RoseGoldProducts.png" alt="products">
    <div id="ProductBrandsDiv" class="row text-center">
        {{#each productBrands}}
        <div class="col-lg-6 prod-row">
            <img data-toggle="modal" data-target=".bd-example-modal-lg-{{id}}" aria-hidden="true" src="{{photo}}" alt="{{name}}"
            data-value="{{name}}" class="brand-pic" onclick="sayHelloToMyLittleFriend('{{name}}');">
        </div>
        <div class="modal fade bd-example-modal-lg-{{id}}" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</div>
<!-- End of Page 4 -->
<!-- Start of Page 5 (Contact Us) -->
<div data-full="true" id="ContactUs" class="container page-content">
    <img src="/assets/images/RoseGoldContactUs.png" alt="contact us">
    <div class="container table-responsive">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-12 col-lg-12 salon-box">
                <h2>{{contactus.name}}</h2>
                <span>{{contactus.Address.dataValues.address1}}</span><br />
                <span>{{contactus.Address.dataValues.address2}}</span><br />
                <span>{{contactus.Address.dataValues.city}}, </span>
                <span>{{contactus.Address.dataValues.state}}</span>
                <span>{{contactus.Address.dataValues.zip}}</span><br />
                <span>Phone: {{contactus.Phone.dataValues.mobile}}</span><br />
                <span>Email: <a href="mailto:{{contactus.Email.dataValues.email}}?subject=Inquiry from www.blvd6.com">{{contactus.Email.dataValues.email}}</a></span>
            </div>  
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 contact-box">
                <form id="email_form" action="#" method="POST">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3 firstNameCont">
                                <label for="firstNameContact" class="label-short">First Name:</label>
                                <input type="text" class="input-short" id="firstNameContact" name="firstNameContact">
                            </div>
                            <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3 lastNameCont">
                                <label for="lastNameContact" class="label-short">Last Name:</label>
                                <input type="text" class="input-short" id="lastNameContact" name="lastNameContact">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="phoneContact" class="label-short">Phone:</label>
                        <input type="tel" class="form-control" id="phoneContact" name="phoneContact">
                    </div>
                    <div class="form-group">
                        <label for="emailContact" class="label-short">Email address:</label>
                        <input type="email" class="form-control" id="emailContact" name="emailContact">
                    </div>
                    <div class="form-group">
                        <label for="reasonContact" class="label-short">Choose one:</label>
                        <select id="reasonContact" name="reasonContact" class="form-control">
                            <option value="General Inquiry">Make me beautiful!</option>
                            <option value="Special Occasion Consultation">Can I get a special occasion consultation?</option>
                            <option value="Questions">I just have some questions.</option>  
                        </select>
                        <div class="form-group">
                            <textarea id="addlContact" name="addlContact" class="form-control" rows="8" placeholder="Tell us more..."></textarea>   
                        </div>
                        <button type="submit" id="submitContact" class="btn btn-default">Submit</button>
                    </div>
                </form> 
            </div>
        </div>
    </div>
        <!--<div class="col-xs-6 col-sm-6 col-md-3 col-lg-3 map-div"><div id="pano"></div></div>-->
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 map-div">
        <div id="map"></div>
    </div>
</div>
<!-- End of Page 5 -->
<!-- Start of Page 6 - Appointments -->
<!-- <div data-full="true" id="Appointments" class="container page-content">
    <div class="row">
        <img src="/assets/images/RoseGoldAppointments.png" alt="contact us">
        Start Square Appointments Embed Code
        <script src='https://squareup.com/appointments/buyer/widget/1468bcf9-3336-493f-b871-912f79d48e19/FE3T7G4WT90MA.js'></script>
        <!-- End Square Appointments EmbedCode -->
    </div>
</div> 	
<!-- End of Page 6 - Appointments -->
<script>
    $(document).ready(function () {
        // For page 1
        setInterval(changeService, 5000);

        $("#email_form").submit(function(event) {
    		event.preventDefault();

            let sendData = {};

            sendData.firstNameContact = $("#firstNameContact").val();
            sendData.lastNameContact = $("#lastNameContact").val();
            sendData.reasonContact = $("#reasonContact").val();
            sendData.addlContact = $("#addlContact").val();
            sendData.phoneContact = $("#phoneContact").val();
            sendData.emailContact = $("#emailContact").val();

            let request = $.ajax({
                url: 'sendMail',
                type: 'POST',
                dataType: 'json',
                data: sendData,
                timeout: 2000
            })
            .done(function() {
                console.log("Made it");
            })
            .always(function(data) {
                swal("Message Sent", `Thank you, ${sendData.firstNameContact}!  Someone will be in touch with you shortly.`, "success");
            });
        });

        $("#admin-ul").hide();
        $("#public-ul").show();

        function getSize() {
            // Get the width and height of the window
            const winHeight = $(window).height();
            const winWidth = $(window).width();
                
            // Change the divs to that width and height
            $('[data-full="true"]').css({'width' : winWidth+'px', 'height' : winHeight+'px'});
                
            // An exception for iPods and iPhones
            if(navigator.userAgent.match(/iPhone/i) || navigator.userAgent.match(/iPod/i)) {
                $('[data-full="true"]').css({'width' : winWidth+'px', 'height' : winHeight+70+'px'});
                $('#home').css({'width' : winWidth+'px', 'height' : winHeight+'px'});
            }
                    
            // Check what page we're on in the document using the height and
            // scroll postion (That's $(window).scrollTop())
            const currentPage = $(window).scrollTop() + 60;
                
            if(currentPage < winHeight) {
                // Add correct classes, repeat for different sizes
                $('#menu a[href="#home"]').addClass('current');
                $('#header').addClass('light');
            } else if(currentPage > winHeight && currentPage < winHeight*2) {
                $('#menu a[href="#about"]').addClass('current');
                $('#header').addClass('light');
            } else if(currentPage > winHeight*2 && currentPage < winHeight*3) {
                $('#menu a[href="#services"]').addClass('current');
                $('#header').addClass('dark');
            } else if(currentPage > winHeight*3 && currentPage < winHeight*4) {
                $('#menu a[href="#contact"]').addClass('current');
                $('#header').addClass('dark');
            } else if(currentPage > winHeight*3 && currentPage < winHeight*4) {
                $('#menu a[href="#appointments"]').addClass('current');
                $('#header').addClass('dark');
            }
        }
    });

    // For page 1
    let svcImgs = [
        {
            index: 0,
            title: 'Blow Dry!', 
            url: 'url("../assets/images/blvd6pics/BLVD_6_SPACE-3.jpg")'
        }, 
        {
            index: 1,
            title: 'Color!',
            url: 'url("../assets/images/blvd6pics/BLVD_6_SPACE-4.jpg")',
        },
        {
            index: 2,
            title: 'Men\'s Haircut!',
            url: 'url("../assets/images/blvd6pics/BLVD_6_SPACE-5.jpg")'
        }, 
        {
            index: 3,
            title: 'Full Brazilian Blow-Outs!',
            url: 'url("../assets/images/blvd6pics/BLVD_6_SPACE-9.jpg")'
        },
        {
            index: 4,
            title: 'Special Occassion Up-Do!',
            url: 'url("../assets/images/blvd6pics/BLVD_6_SPACE-1.jpg")'
        }
    ];

    function changeService() {
        let curImg = $("#service-text").attr("data-name");
        let curImgIdx = svcImgs.map(function (e) {
            return e.title;
        }).indexOf(curImg);

        if (curImgIdx >= 0 && curImgIdx < svcImgs.length - 1) {
            let newIdx = curImgIdx + 1;

            $(".full-content").css("background", `no-repeat center/100% ${svcImgs[newIdx].url}`);
            $("#service-text").attr("data-name", svcImgs[newIdx].title);
        } else {
            $(".full-content").css("background", `no-repeat center/100% ${svcImgs[0].url}`);
            $("#service-text").attr("data-name", svcImgs[0].title);

            curImgIdx = 0;
        }
    }

    // For page 2
    $("#admin-ul").hide();
    $("#public-ul").show();

    // For page 4
    function sayHelloToMyLittleFriend(prod) {
        let divs = "";

        jQuery.get("/products/" + prod, function(data) {
            let idx = "";

            $.each(data.products, function(index, value) {
                if (index % 2 !== 0) {
                    idx = "odds";
                } else {
                    idx = "evens";
                }

                divs += `<div class="row prod-row ${idx}">
                    <div class="col-lg-6">
                    <img src="${data.products[index].photo}" alt="${data.products[index].name}" class="product-pic">
                    </div>
                    <div class="col-lg-6">
                    <strong>Name: </strong>${data.products[index].name}<br />
                    <strong>Price: </strong>$${data.products[index].price}<br />
                    <strong>Description: </strong>${data.products[index].description}
                    </div>
                    </div>`;
            });

            $(".modal-content").html(divs);
        });
    }

    // For page 5
    function initMap() {
        var salon = {lat: 34.151417, lng: -118.453617};
        var map = new google.maps.Map(document.getElementById('map'), {
            center: salon,
            zoom: 15
        });
        var marker = new google.maps.Marker({
            position: salon,
            map: map
        });
        /*var panorama = new google.maps.StreetViewPanorama(
            document.getElementById('pano'), {
            position: salon,
            pov: {
                heading: 15,
                pitch: 10
            }
        });

        map.setStreetView(panorama);*/
    }
</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAjc7C1wVVqG6qUwJTS3d55Nu4xxen1yJ4&callback=initMap"></script>